---
const { componentProps } = Astro.props

let height = componentProps.height ?? 400
let background = componentProps.bg ?? componentProps.background ?? 'black'
---

<div class="flex flex-col border border-gray-700 overflow-hidden rounded">
  <div class="example-container flex items-center justify-center w-full">
    <slot name="example" />
  </div>
  <slot name="code" />
</div>

<style define:vars={{ height: `${height}px`, background }}>
  .example-container {
    height: calc(var(--height));
    background: var(--background);
  }
</style>

<style is:global>
  pre {
    max-height: 500px;
    overflow: auto;
    border: none !important;
  }
</style>
