---
const { meta } = Astro.props

let height = parseInt(getMetaValue('height') || '368')

function getMetaValue(key: string) {
  return meta?.find((m: string) => m.includes(key))?.split('=')?.[1]
}
---

<div class="flex flex-col border border-gray-700 overflow-hidden rounded">
  <div
    class="example-container flex items-center justify-center bg-black w-full"
  >
    <slot name="example" />
  </div>
  <slot name="code" />
</div>

<style define:vars={{ height: `${height}px` }}>
  .example-container {
    min-height: calc(var(--height) + 2rem);
  }
</style>

<style is:global>
  pre {
    max-height: 500px;
    overflow: auto;
    border: none !important;
  }
</style>
