---
const { ExampleComponent, meta } = Astro.props

let height = parseInt(getMetaValue('height') || '400')

function getMetaValue(key: string) {
  return meta?.find((m: string) => m.includes(key))?.split('=')?.[1]
}
---

<div class="flex flex-col">
  <div class="example-container flex items-center justify-center bg-black p-4">
    <slot name="example" />
  </div>
  <slot name="code" />
</div>

<style define:vars={{ height: `${height}px` }}>
  .example-container {
    min-height: calc(var(--height) + 2rem);
  }
</style>

<style is:global>
  pre {
    max-height: 500px;
    overflow: auto;
  }
</style>
