.vercel/**
**/.svelte-kit/**
**/dist/**
**/build/**
.DS_Store
node_modules
/build
/public
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel_build_output
.vercel/output
.parcel-cache

docs/.astro
docs/.vercel
docs/dist
pnpm-lock.yaml