---
title: Ticker
pixi: https://pixijs.download/release/docs/Ticker.html
---

## Usage

```svelte example csr
<script>
  import { Ticker, Text } from 'svelte-pixi'

  let delta = 0
</script>

<Ticker
  on:tick={(ev) => {
    delta = ev.detail
  }}>
  <Text
    x={200}
    y={200}
    text={`Delta: ${delta.toFixed(10)}`}
    style={{ fill: 'white' }}
    anchor={0.5}
  />
</Ticker>
```
