---
title: getResource
---

Gets a loaded resource from the parent [Loader](/docs/components/loader)

```js
import { getResource } from 'svelte-pixi'

const sprite = getResource('/assets/my-sprite.png')
```
